* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

body {
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}



table {
    position: relative;
    top: 5rem;
    display: grid;
    border-collapse: collapse;
    width: 75%;
    margin: auto;
    grid-template-columns: minmax(150px, 1fr) minmax(150px, 1.67fr) minmax(150px, 1.67fr) minmax(150px, 1.67fr);

}

thead,
tbody,
tr {
    display: contents;
}

th,
td {
    padding: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

th {
    position: sticky;
    top: 0;
    background: #6c7ae0;
    text-align: left;
    font-weight: normal;
    font-size: 1.1rem;
    color: white;
}

th:last-child {
    border: 0;
}

td {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #808080;
}

tr:nth-child(even) td {
    background: #f8f6ff;
}

.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
    width: 100%;
}

.header div {

    font-size: 2rem;


}

.logo {
    margin-bottom: -4rem;
}


.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    font-size: 1rem;
    line-height: 25px;
    border-radius: 4px;
}

.header a:hover {
    background-color: #ddd;
}

.header a.active {
    background-color: dodgerblue;
    color: white;
}

.header-right {
    float: right;
}
